@using AntDesign.TableModels
@using LzqNet.Caller.ApiGateway.Contracts

<Modal Title="编辑集群"
       @bind-Visible="@Visible"
       OnOk="HandleOk" OnCancel="HandleCancel">
    <Form Layout="@FormLayout.Horizontal"
          Model="@FormData"
          OnFinish="OnFinish"
          OnFinishFailed="OnFinishFailed">
        <FormItem Label="集群">
            <Input @bind-Value="@FormData.ClusterId" ReadOnly="true" />
        </FormItem>
        <FormItem Label="Destinations">
            <AntList Size=" ListSize.Small" ItemLayout="ListItemLayout.Vertical" TItem="EditDestinationItem" DataSource="@EditDestinations">
                <ChildContent Context="item">
                    <Space Style="width: 100%">
                        <Input @bind-Value="item.Key" Placeholder="Key">
                        <AddOnBefore>@(FormData.ClusterId)/</AddOnBefore>
                        </Input>
                        <Button Danger OnClick="@(() => RemoveItem(item))" Icon="@IconType.TwoTone.MinusCircle"></Button>
                    </Space>
                    <Card Bordered="true" Style="width: 100%;margin-bottom:10px;">
                        <GridRow Align="RowAlign.Middle" Justify=" RowJustify.Center">
                            <GridCol Span="6">
                                Address:
                            </GridCol>
                            <GridCol Span="18">
                                <Input @bind-Value="item.Value.Address" Placeholder="Value">
                                <AddOnBefore>http://</AddOnBefore>
                                </Input>
                            </GridCol>
                        </GridRow>
                    </Card>
                </ChildContent>
                <Footer>
                    <Button Type="ButtonType.Primary" OnClick="AddNewItem" Icon="@IconType.TwoTone.PlusCircle"></Button>
                </Footer>
            </AntList>
        </FormItem>
    </Form>
</Modal>

@code {
    private List<EditDestinationItem> EditDestinations { get; set; } = [];
}
