@using AntDesign.TableModels
@using LzqNet.Caller.ApiGateway.Contracts

<Modal Title="编辑路由"
       @bind-Visible="@Visible"
       OnOk="HandleOk" OnCancel="HandleCancel">
    <Form Layout="@FormLayout.Horizontal"
          Model="@FormData"
          OnFinish="OnFinish"
          OnFinishFailed="OnFinishFailed">
        <FormItem Label="路由">
            <Input @bind-Value="@FormData.RouteId" ReadOnly="true" />
        </FormItem>
        <FormItem Label="集群">
            <SimpleSelect DefaultValue="lucy"
                          Style="width:120px;"
                          @bind-Value="@FormData.ClusterId"
                          DataSource="_clusterOptions">
            </SimpleSelect>

            <Input @bind-Value="@FormData.ClusterId" ReadOnly="true" />
        </FormItem>
        <FormItem Label="优先级">
            <Input @bind-Value="@FormData.Order" />
        </FormItem>
        <FormItem Label="HTTP 请求方法">
            <AntDesign.CheckboxGroup Options="@ckeckAllOptions" TValue="string" @bind-Value="selectedMethods"
                                     OnChange="OnSelectedMethodsChanged" />
        </FormItem>
        <FormItem Label="Path">
            <Input @bind-Value="@FormData.Match.Path" />
        </FormItem>
        <FormItem Label="Transforms">
            <AntList ItemLayout="ListItemLayout.Vertical" TItem="List<EditableKeyValuePair>" DataSource="@EditableItems">
                <ChildContent Context="outerItem">
                    <AntList ItemLayout="ListItemLayout.Horizontal" DataSource="@(outerItem)">
                        <ChildContent Context="innerItem">
                            <Space Style="width: 100%">
                                <Input @bind-Value="innerItem.Key" Style="width: 45%" Placeholder="Key" />
                                <Input @bind-Value="innerItem.Value" Style="width: 45%" Placeholder="Value" />
                                <Button Danger OnClick="@(() => RemoveItem(outerItem, innerItem))" Icon="@IconType.TwoTone.MinusCircle"></Button>
                            </Space>
                        </ChildContent>
                    </AntList>
                </ChildContent>
                <Footer>
                    <Button Type="ButtonType.Primary" OnClick="AddNewItem" Icon="@IconType.TwoTone.PlusCircle"></Button>
                </Footer>
            </AntList>
        </FormItem>
    </Form>
</Modal>

@code {
    private string[] selectedMethods = [];

    static CheckboxOption<string>[] ckeckAllOptions = new CheckboxOption<string>[]{
        new() { Label="GET",Value="GET"},
        new() { Label="POST", Value="POST" },
        new(){ Label="PUT", Value="PUT" },
        new(){ Label="DELETE", Value="DELETE" },
    };

    // 转换为可编辑的列表
    private List<List<EditableKeyValuePair>> EditableItems { get; set; } = new();

    private string[] _clusterOptions;

}
